.card {
  width: 30%;
  background: white;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 1rem;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  cursor: pointer;
}

.card-row {
  transition-timing-function: ease-in-out;
}

.card-row.hidden > .card {
  padding: 0px !important;
  opacity: 0 !important;
}
